<!DOCTYPE html>
<html>
<head>
    <title>Grid with Triangles inside</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>

    <script language="javascript" type="text/javascript">
        function GetVertices() {
            const triangleId = $("#triangleId").val();
            var uri = "http://localhost:54854/api/values/GetVerticesForTriangle?id=" + triangleId;
            uri = "http://localhost:54854/api/values?id=\'d3\'";// + triangleId;

            var result = jQuery.ajax({
                type: 'POST',
                url: uri,
                data: {
                    id: $("#triangleId").val()
                },
                success: function (result) { //we got the response
                    alert('Successfully called');
                },
                error: function (jqxhr, status, exception) {
                    alert('Exception:', exception);
                },
                done: function (result) { //we got the response
                    alert('Successfully done');
                },
            });

            alert("end" + uri);
            $("#triangleVertices").show();
            $("#triangleVertices").append(result.responseJSON);
            alert("triangle Id " + triangleId);
        }

        function GetTriangleId() {
            const row = $("#triangleRow").val();
            const column = $("#triangleColumn").val();
            console.log("row,column:"+row + ":" +column);
            const uri = "http://localhost:54854/api/values/PostTriangleIdFromRowColumn?row=" + row + "&column=" + column;
            console.log(uri);
            let result = jQuery.ajax({
                type: 'POST',
                url: uri,
                done: function (result) { //we got the response
                    alert('Successfully called');
                    alert(result);
                },
                error: function (jqxhr, status, exception) {
                    alert('Exception:', exception);
                },
                success: function (result) { //we got the response
                    alert('Successfully called');

                    alert(result.responseJson );
                },
            });

                console.log(result.getAllResponseHeaders())
            //  var jqXHR = jQuery.ajax(uri);
            //.success(function (result) {
            //  console.log("success me");
            //});
            //   console.log("end" + jqXHR.responseText);
            //   alert("end" + jqXHR.responseText);
            $("#triangleReturnedId").append(row + " : " + column);
        }
    </script>

    <style>
        h4 {
            background-color: gray;
            padding: 4px;
            color: white;
        }

        #submitId {
            width: 100px;
        }

        input {
            height: 25px;
        }
    </style>
</head>
<body>
    <div class="row">
        <p>For the Grid below, we would like to find the triangle vertices given its Index, e.g. E3</p>
        <p>We also want to find out its Index, by using the vertices. </p>
        <p><img id="gridImage" src="~/Images/Grid.jpg" height="200" width="300" /></p>
        <div>

            <h4><span>Find the vertices by using triangle id</span></h4>
            <form>
                <div class="form-group">
                    <div></div>
                    <label class="control-label col-sm-3" for="triangleId">Enter the triangle id: </label>
                    <div class=" col-sm-3">
                        <input type="text" class="form-control" id="triangleId" />
                    </div>
                    <input type="button" class="btn-primary  col-sm-6" id="submitId" value="Submit" onclick="GetVertices();" />
                </div>
            </form>
            <br />
            <p id="triangleVertices">The vertics for triangle is: </p><p></p>
            <h4><span>Find the triangle id by using column and row</span></h4>
            <form>
                <div class="form-group">
                    <label for="triangleRow">Row: </label>
                    <input type="text" class="form-control" id="triangleRow" />
                </div>
                <div class="form-group">
                    <label for="triangleColumn">Column: </label>
                    <input type="text" class="form-control" id="triangleColumn" />
                </div>
                <input type="button" class="btn-primary" id="submitRowColumn" value="Submit" onclick="GetTriangleId();" />

                <div class="form-control">
                    <label class="control-label" id="triangleReturnedId">The ID for triangle is:</label>
                </div>

            </form>
        </div>
    </div>

</body>
</html>